:root {
  background-color: #0a0a0c;
  color: #e2e2e2;
  font-family: 'Cascadia Code', Cascadia Code, Cascadia Code, Cascadia Code, Cascadia Code, Cascadia Code;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}